@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
@import "../../node_modules/normalize.css/normalize.css";
@import "./_vars";

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    resize: none;
    outline: none;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    max-width: 1600px;
    height: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.finger {
    &1 {
        background-color: $finger1;

        &.active {
            box-shadow: inset 0 0px 0px 3px $finger1Saturated;
            opacity: .7;
            transform: scale(0.98);
        }
    }
    
    &2 {
        background-color: $finger2;

        &.active {
            box-shadow: inset 0 0px 0px 3px $finger2Saturated;
            opacity: .7;
            transform: scale(0.98);
        }
    }

    &3 {
        background-color: $finger3;

        &.active {
            box-shadow: inset 0 0px 0px 3px $finger3Saturated;
            opacity: .7;
            transform: scale(0.98);
        }
    }

    &4 {
        background-color: $finger4;

        &.active {
            box-shadow: inset 0 0px 0px 3px $finger4Saturated;
            opacity: .7;
            transform: scale(0.98);
        }
    }

    &5 {
        background-color: $finger5;

        &active {
            box-shadow: inset 0 0px 0px 3px $finger5Saturated;
            opacity: .7;
            transform: scale(0.98);
        }
    }

    &6 {
        background-color: $finger6;

        &.active {
            box-shadow: inset 0 0px 0px 3px $finger6Saturated;
            opacity: .7;
            transform: scale(0.98);
        }
    }
}

.btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}