$purple: #4169E1;
$white: #ffffff;
$grey: #565D55;
$lightGrey: #c2c2c2;
$black: #222222;
$green: #50C878;

$finger1: #f4b3c2;
$finger2: #fdcf8c;
$finger3: #bcdd9c;
$finger4: #a3dce0;
$finger5: #aec6e0;
$finger6: #d2b4de;