$purple: #4169E1;
$white: #ffffff;
$grey: #565D55;
$lightGrey: #c2c2c2;
$light: #FAFAFA;
$black: #222222;
$green: #50C878;
$redGrey: #C8B5B5;

$finger1: #f4b3c2;
$finger1Saturated: #F4698A;
$finger2: #fdcf8c;
$finger2Saturated: #FDAA2F;
$finger3: #bcdd9c;
$finger3Saturated: #99DD55;
$finger4: #a3dce0;
$finger4Saturated: #44D6E0;
$finger5: #aec6e0;
$finger5Saturated: #69A2E0;
$finger6: #d2b4de;
$finger6Saturated: #B96BD6;